@mixin background($name, $repeat: no-repeat, $x: center, $y: top, $color: null) {
  background: url($name) $repeat $x $y;
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// ===================================
// position
// ===================================
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

// ===================================
// size
// ===================================
@mixin size($w: null, $h: $w) {
  width: $w;
  height: $h;
}

// ===================================
// a11y
// ===================================
@mixin a11y {
  @include absolute($left: -9999em);
  @include size(1px);

  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

// ===================================
// font face
// use: @include font