@mixin background($name, $repeat: no-repeat, $x: center, $y: top, $color: null) {
  background: url($name) $repeat $x $y;
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// ===================================
// position
// ===================================
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  