@mixin background($name, $repeat: no-repeat, $x: center, $y: top, $color: null) {
  background: url($name) $repeat $x $y;
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// ===================================
// position
// ===================================
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin absolute($args...) {
  @include position(absolute, $args...)